/glfw-3.3.4/
/cmake-build-release/
/cmake-build-debug/
SPRV
cmake_build
logs
/ImGuizmo/
/out/
/glfw/
/windows-msvc-debug-user-mode/
/windows-msvc-release-user-mode/
/windows-mingw-release-user-mode/
/windows-mingw-debug-user-mode/
/tests/testAssets/
/.cache/
unixlike-gcc-release
unixlike-gcc-debug
.idea
unixlike-clang-debug
unixlike-clang-release
compile_commands.json
src/stb_image.h
/tests/assets/

Testing/
/windows-default-debug/
